name: Deploy
on:
  release:
    types: [published]
jobs:
  build:
    name: Build
    runs-on: windows-latest
    environment: Compile
    steps:
      - name: Prepate Git Repo
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          architecture: x64
          cache: maven
          distribution: temurin
          java-version: 21

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Compile to exe
        run: sh ./build.sh

      - name: Deploy Installer to Releases
        uses: AButler/upload-release-assets@v2.0.2
        with:
          files: 'rexedia-*.exe'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: rexedia
          path: rexedia

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: rexedia
          path: rexedia

      - name: Zip file
        uses: papeloto/action-zip@v1.1
        with:
          files: rexedia
          dest: rexedia.zip

      - name: Deploy Binaries to Releases
        uses: AButler/upload-release-assets@v2.0.2
        with:
          files: 'rexedia.zip'
          repo-token: ${{ secrets.GITHUB_TOKEN }}